<div class="ibox">
    <div class="ibox-title">
        <h5>Upload an Image</h5>
    </div>
    <div class="ibox-content text-center">

        <form>
            <div class="cropArea form-group">
                <div ng-hide="$ctrl.myCroppedImage">
                    <label class="input-group-btn">
                        <span class="btn btn-primary btn-sm">
                            Select an Image&hellip; <input ng-model="$ctrl.cropFileInput" type="file" id="fileInput" style="display: none;">
                        </span>
                    </label>
                </div>
                <div ng-hide="$ctrl.commitCrop">
                    <ui-cropper image="$ctrl.myImage" area-type="square" chargement="'Loading'" area-min-size="5" result-image="$ctrl.myCroppedImage" canvas-scalemode="true"></ui-cropper>
                </div>
            </div>
            <div ng-show="$ctrl.myCroppedImage">
                <!--------------------------------CROP PREVIEW--------------------------------------->
                <div style="margin:0 auto; width:100%">
                    <img ng-src="{{$ctrl.myCroppedImage}}" class="img-square square-border m-b-md">
                </div>
                <hr />
                <button class="btn btn-sm btn-primary" ng-click="$ctrl.reject()">Cancel</button>
                <button ng-hide="$ctrl.commitCrop" class="btn-sm btn btn-primary" ng-click="$ctrl.commit()">Crop Picture</button>
            </div>
        </form>
        <!--<div class="col-md-12 text-center">
            <label>{{$ctrl.uploadMessage}}</label>
        </div>-->
    </div>
</div>