<div class="ibox">
    <div class="ibox-heading">
            <h2 style="color: red;"><strong>DANGER</strong></h2>
            <h3>If you don't know what this is, don't mess with it.</h3>
    </div>
    <div class="ibox-content">
        <div class="row">
            <form name="appConfigFrm" novalidate>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th style="color: #1ab394;">Key</th>
                            <th><span style="color: #1ab394;">Value <a style="color: black;">(Click "Config Value" to update)</a></span></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in $ctrl.appConfigItems">
                            <td><strong style="color: #1ab394;">Config Key: <i style="color: black;">{{item.configKey}}</i></strong></td>
                            <td>
                                <span>
                                    <strong title="click to update the value" style="color: #1ab394; cursor:pointer" ng-click="$ctrl.showDiv(item)">
                                        Config Value: <i ng-show="item.show" style="color: black;">{{item.configValue}}</i>
                                    </strong>
                                    <!--<i ng-show="item.show" style="color: black;">{{item.configValue}}</i>-->
                                    <input type="text" required name="configValue" ng-hide="item.hide" ng-model="item.configValue" />
                                    <input title="Update the value" ng-disabled="appConfigFrm.$invalid" ng-hide="item.hide" class="btn-primary" type="submit" value="Submit" ng-click="$ctrl.editValue(item)" />
                                </span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </form>
        </div>    
    </div>
</div>